<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <storepickup>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>TemplateMonster\NewShipping\Model\Carrier\StorePickup</model>
                <name>Store Pick-up Shipping</name>
                <price>15.00</price>
                <title>Store Pick-up Shipping</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </storepickup>
        </carriers>
    </default>
</config>