//
//  Wishlist block
//  ---------------------------------------------

.block-wishlist{
    .product-item{
        display: block;
        margin-bottom: $indent-base;
        border-bottom: 0;
        text-align: left;
        padding-bottom: 5px;

        @media (max-width: $screen-md-min - 1) {
            @media (min-width: $screen-sm-min) {
                border-bottom: 1px solid #ebebeb;
                text-align: center;
            }
        }
    }

    .product-item-photo{
        width: 75px;
        float: left;
        text-align: left;
        @media (max-width: $screen-md-min - 1) {
            @media (min-width: $screen-sm-min) {
                width: 100%;
                text-align: center;
            }
        }
    }
    .product-item-name{
        font-weight: normal;
        display: inline-block;
        margin-bottom: 5px;
    }
    .price-box{
        color: $default;
    }
    .product-item-details{
        overflow: hidden;
        margin-left: 85px;
        padding-right: 20px;
        position: relative;
        margin-top: $indent-small;
        @media (max-width: $screen-md-min - 1) {
            @media (min-width: $screen-sm-min) {
                margin-left: 0;
                padding-right: 0;
            }
        }
    }
    .product-item-actions{
        @include justify-content(space-between);
        margin: 0;
        .actions-primary{
            margin: 0;
            .tocart {
                padding: 7px 20px;
                line-height: 20px;
            }
            a {
                font-size: 14px;
            }
        }
    }
    .empty{
        margin-top: $indent-small;
    }

    .actions-secondary{
        position: absolute;
        top: 2px;
        right: 0;

        .btn-remove {
            background-color: transparent;
            padding: 0;
            &:hover{
                background-color: transparent;
                color: $secondary-1;
            }

            &:before{
                font-size: 14px;
            }
        }
    }
}


//
//  Wishlist page
//  ---------------------------------------------

.form-wishlist-items{
    .actions-toolbar{
        @include justify-content(space-between);
        >.primary{
            @include order(2);
        }
        >.secondary{
            @include order(1);
        }

        @media (max-width: $screen-sm-min - 1) {
            @include flex-direction(column);
            >.primary{
                @include order(1);
            }
            >.secondary{
                @include order(2);
            }
            button{
                margin-bottom: 7px;
            }
        }
    }
}

.products-grid.wishlist{
    .product-item-name{
        display: block;
    }
    .price-box .price-as-configured{
        margin-bottom: .5rem;
    }
    .field label.label{
        padding-top: 0;
    }
    .box-tocart{
        margin-bottom: $indent-small;
        >.fieldset{
            @include clearfix;
            .product-item-actions{
                float: right;
            }
        }
        .field.qty{
            @include make-flex;
            float: left;
            margin-bottom: 0;
            margin-right: 1rem;

            .label{
                @include make-flex;
                @include align-items(center);
                padding-bottom: 0;
                margin-right: .5rem;
            }
            input.qty{
                width: 4rem;
                line-height: 1.5;
                min-height: 33px;
                padding: 6px 0 6px 10px;
                text-align: center;
            }
        }
        .unavailable.stock{
            margin: 7px 3px 6px 8px;
        }
    }
    .product-item-actions{
        margin: 0;
        padding-top: 1px;
        .actions-primary{
            margin: 0;
        }
    }

    a.action{
        &.edit,
        &.delete{
            font-size: 1.2rem;
            line-height: 1;
            padding: 0;
            background-color: transparent;
            color: $accent;
            &:hover {
                color: $secondary;
            }
        }
    }
}