
.form-login{
    .actions-toolbar{
        flex-direction: row-reverse;
    }
}

.form-create-account,
.form-edit-account,
.form-address-edit{
    .fieldset{
        margin-bottom: $indent-base;
    }
    .actions-toolbar{
        flex-direction: row-reverse;
    }
}
.form-create-account {
    max-width: 700px;
    margin: 0 auto;
}
//
//  Account main
//  _____________________________________________

body.account{
    //Block styling
    .block-title{
        position: relative;
        .action{
            position: absolute;
            right: 0;
            top: 0;
            line-height: 57px;
        }
    }
    //Box styling
    .box{
        address{
            margin-bottom: 1rem;
        }
    }
}

.sidebar .account-navigation{
    a{
        color: $default;
        &:hover{
            color: $primary;
        }
    }
    li.current strong{
        font-weight: 400;
        color: $primary;
    }

    .block-title{
        &,
        strong{
            margin-top: 0;
        }
    }
}
.sidebar{
    #reorder-validate-detail{
        strong.subtitle{
            display: none;
        }
        .no-display{
            display: block;
        }
    }
    #cart-sidebar-reorder {
        margin-bottom: 15px;
        > .product-item {
            @include make-flex();
            @include align-items(center);
            margin-bottom: 7px;
        }
        .item.choice {

            label {
                display: none;
            }
            input[type="checkbox"] {
                position: relative;
                opacity: 1;
                z-index: auto;
                margin: 0 5px 0 0;
                height: auto;
                top: 1px;
            }
        }
    }
}

.products-grid.wishlist{
    //Price
    .price-box{
        font-size: 1.5rem;
        line-height: 1;
        color: $primary;

        .price-label{
            display: none;
        }
    }
    .special-price{
        color: $accent;
    }
    .old-price{
        .price{
            text-decoration: line-through;
            font-size: 1rem;
            color: $unactive;
        }
    }

    //Name
    .product-item-name{
        a{
            color: $default;
            &:hover{
                color: $primary;
            }
        }
    }

    // Comment
    textarea{
        min-height: 80px;
    }
}

.block-dashboard-info,
.block-dashboard-addresses{
    .block-title strong{
        margin-top: 0;
    }
    .box{
        padding: 10px;
        border: 1px solid $border-color;
        height: 100%;
        position: relative;
    }
    .action.edit{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.2rem;
        padding: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }
}

// Email to Friend
//-----------------------------------

#add-recipient-button{
    margin-bottom: 1em;
}

.block-addresses-list {
    .items.addresses {
        @include make-flex;
        @include flex-wrap(wrap);
        .item {
            @include flex-basis(100%);
            @media (min-width: $screen-sm-min) {
                @include flex-basis(50%);
            }
            @media (min-width: $screen-lg-min) {
                @include flex-basis(33.333%);
            }
            margin-bottom: 30px;
            .actions {
                margin-top: 7px;
                .action {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    padding: 0;
                }
            }
        }
    }
}
.order-products-toolbar {
    .pager {
        @include make-flex;
        margin: 15px 0;
        padding: 10px 0;
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
    }
}