<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ebriza" sortOrder="500" translate="label">
            <label>Ebriza</label>
        </tab>
        <section id="ebriza" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label">
            <label>General</label>
            <tab>ebriza</tab>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <label>General</label>
                <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable/Disable</label>
                    <comment>Enable/Disable</comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="auth_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Url</label>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client Id</label>
                </field>
                <field id="public" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Public</label>
                </field>
                <field id="private" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Private</label>
                </field>
            </group>
        </section>
    </system>
</config>
